body {
    font-family: Roboto;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    min-height: 100vh;
    z-index: 99999;
}

#notificaciones::after {
    display: none
}

#descripcion_notificacion {
    left: -120%;
    min-width: 14rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.simpleNav {
    width: 100%;
    padding: 1rem 0;
}

nav.simpleNav a {
    text-decoration: none;
    color: white
}

.menu-icon, .companyName {
    font-size: 1.7rem;
    padding-left: 2rem;
    color: white;
}

main .sidenav .list {
    list-style-type: none;
    padding: 2rem 4rem;
}

#sidenav {
    font-size: 1.3rem;
}

.container .content {
    padding: 1em;
}

main .sidenav .list>.list-element {
    margin: 1rem 0;
}

.close-icon {
    text-decoration: none;
    font-size: 2rem;
    color: red;
    font-weight: bold;
}

.sidenav {
    position: fixed;
    display: none;
    top: 0;
}

main, nav.simpleNav {
    position: relative;
}

.media .avatar {
    width: 64px;
}

.carousel {
    box-shadow: #aeb9cc 5px 5px 5px;
}

.icono-negro:hover {
    color: #ff3547 !important;
}

.icono-rojo:hover {
    color: #000000 !important;
}

.imagenes {
    width: 550px;
    height: 350px;
}

.carousel-inner {
    width: 550px;
    height: 350px;
}

#carta_usuario {
    border-radius: 8em;
}

.card-body {
    margin-left: 1em;
    padding: 0.7rem;
}

#boton_mensaje {
    border-radius: 10em;
}

/* Vender Producto Vendedor */

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.rating-stars ul>li.star {
    display: inline-block;
}

/* Idle State of the stars */

.rating-stars ul>li.star>i.fa {
    font-size: 1.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}

/* Hover state of the stars */

.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */

.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.lista_nombres:hover {
    background-color: #D7D7D7;
    color: black;
}

.lista_nombres {
    border: none !important;
}

/* /Vender Producto  */

/* Productos favoritos */

.card-body>.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* /Productos favoritos */

/* editar producto */

.contenedorImagenes li, div.preview>p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
}

.contenedorImagenes img {
    height: 64px;
    order: 1;
}

.contenedorImagenes p {
    line-height: 32px;
    padding-left: 10px;
}

.contenedorImagenes ol {
    padding-left: 0;
}

/* /Editar / Crear producto */

.btn-floating {
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
}

.btn-floating, .card .card-reveal .card-title, .card-wrapper .card-rotating .card-title {
    cursor: pointer;
}

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

/*errores*/

.header {
    font-size: 13.0rem;
    font-weight: 700;
    margin: 2% 0 2% 0;
    text-shadow: 0px 3px 0px #7f8c8d;
}

.error {
    margin: -70px 0 2% 0;
    font-size: 4.4rem;
    text-shadow: 0px 3px 0px #7f8c8d;
    font-weight: 300;
}

/* login registro*/

.cabezera_login {
    color: #fff;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 2px;
}

.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f)!important;
    background: -o-linear-gradient(50deg, #45cafc, #303f9f)!important;
    background: linear-gradient(40deg, #45cafc, #303f9f)!important;
}

.login {
    margin-top: 6em;
}

.checkbox {
    margin-right: 10.5em;
}

.invalid-feedback {
    display: block;
}

/*
chat
 */

.chat {
    max-height: 500px;
    overflow-y: auto;
}

.fecha_recibidos {
    margin-right: 60%;
    margin-top: -1.5%;
}

.chat::-webkit-scrollbar-track, .usuarios::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.chat::-webkit-scrollbar, .usuarios::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.chat::-webkit-scrollbar-thumb, .usuarios::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.usuarios {
    max-height: 525px;
    overflow-y: auto;
    margin-top: 3.1%;
}

.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*index*/

input[type=checkbox], input[type=radio] {
    display: none;
}

input[type=checkbox]+label:before {
    /*     content: "\2713"; */
    content: " ";
    color: transparent;
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    margin: -5px 5px 0 0;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    border: 2px rgba(0, 0, 0, 0.54) solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type=checkbox]:checked+label:before {
    color: #000;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K");
    background-color: #2196F3;
    border-color: #2196F3;
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
}

.imagenes_productos {
    padding: 0;
}

.js-cookie-consent-agree {
    padding: .30rem 1.14rem;
    font-size: .81rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    background-color: #ffa000;
    color: #FFFFFF;
}

.js-cookie-consent {
    z-index: 99999;
    color: #FFFFFF;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    background-color: #17a2b8!important;
    bottom: 0;
    text-align: center;
    padding: 5px;
}

#buscador:focus:not([readonly]) {
    border-color: #FFFFFF;
}

.mapa ul, .mapa li {
    margin: 0;
    padding: 0;
}

.mapa .sitemap>li>ul {
    margin-top: 1.5rem;
}

.mapa ul {
    list-style: none;
}

.mapa ul li {
    line-height: 1.5rem;
    vertical-align: top;
    position: relative;
}

.mapa ul li a {
    text-decoration: none;
    color: #f80;
    display: inline-block;
}

.mapa ul ul {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.mapa ul ul li {
    position: relative;
}

.mapa ul ul li::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 100%;
    border-left: 1px #ccc solid;
    position: absolute;
    top: -0.75rem;
}

.mapa ul ul li::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
    border-bottom: 1px #ccc solid;
    position: absolute;
    top: -0.75rem;
}

.mapa ul ul li a {
    margin-left: 3.75rem;
}

html, body {
    height: 87.27%;
}

main {
    min-height: 90%;
    height: auto !important;
    /*         height: 100%;
*/
}